{{define "footer"}}
<div class="center">
    <h6 style="margin-top:20px">
        <a href="https://dero.eu.org">DERO EXPLORER</a>
        | MINING : NODE.DERO.EU.ORG:10100
        | Mining Fee : 1 %
        | Copyright 2023  Dero Project
    </h6>
</div>
</body>
</html>
{{end}}
